ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

input{
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
}

body{
    background-color: grey;
}

form{
    background-color: white;
    width: 80%;
    margin: 10%
}